# Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extension.json

*
!.gitignore
!*/
!*.cpp
!*.cxx
!*.c
!*.cc
!*.hpp
!*.h
!*.vcproj
!*.sln

!.**/*.cpp
!.**/*.cxx
!.**/*.c
!.**/*.cc
!.**/*.hpp
!.**/*.h
!.**/*.vcproj
!.**/*.sln